*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 62.5%;
}
a{
    color: inherit;
    text-decoration: none;
}
#body1{
    height: 100vh;
    background: linear-gradient(180deg, #EF709B 0%, #FA9372 100%);
    /* background: #EF709B; */
}
#header1{
    height: 12.79vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#nav1Active,
#nav1Inactive,
#nav2Active,
#nav2Inactive{
    font-size: calc(1rem + 00.6667vw);
    height: calc(3.25vh + 1.8vw);
    width: calc(150px + 5.2vw);
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: bold;
    line-height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 0px 4px #000000;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5.18vw;
}
#nav1Active{
    background: white;
    color: #EF709B;
    text-shadow: 0 0 1px #000000;
    box-shadow: 0px 0px 11px 2px rgba(0, 0, 0, 0.30);
}
#nav1Inactive{
    background: #EF709B;
    box-shadow: 0px 0px 11px 2px rgba(0, 0, 0, 0.30);
}

#sec1,
#sec2{
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
}
#example1{
    margin: 15px 3.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#text{
    word-wrap: none;
    font-size: calc(3.5rem + 1.5vw);
    font-weight: 800;
    color:white;
    position: absolute;
    top: calc(100px + 10vw);
    left: calc(100px + (100vw - 500px) * 0.063);
}
#box1{
    width: calc(300px + 10vw);
    height: calc(300px + 10vw);
    border-radius: 27px;
}

#mainBody1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}
#main1 p{
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: bold;
    font-size: calc(3.4rem + 0.7vw);
    line-height: 51px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.30);
}
#controlMenu1{
    display: flex;
    flex-direction: row;
}
.controlText1 div,
.controls1 div{
    height: 40px;
    display: flex;
    align-items: center;
    margin: 5px 10px;
}
.controlText1 div{
    justify-content: flex-end;
    font-size: 3rem;
    color: #FFFFFF;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
}
.controls1 div{
    font-size: 3rem;
    color: #FFFFFF;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
}
.controls1 div span{
    margin: auto 5px;
}

.range1{
    width: 300px;
    -webkit-appearance: none;}

.range1:focus {
        outline: none;
}
.range1::-webkit-slider-runnable-track {
        width: 100%;
        height: 2px;
        cursor: pointer;
        background: #ffffff;
}
.range1::-moz-range-track {
        width: 100%;
        height: 2px;
        cursor: pointer;
        background: #ffffff;
}  
.range1::-webkit-slider-thumb {
        box-shadow: none;
        box-shadow: 0px 5px 5px rgba(0,0,0,0.45);
        height: 35px;
        width: 20px;
        border-radius: 20px;
        background: rgba(255,255,255,1);
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -20px;
}
.range1::-moz-range-thumb{
        box-shadow: none;
        box-shadow: 0px 5px 5px rgba(0,0,0,0.45);
        height: 35px;
        width: 20px;
        border-radius: 20px;
        background: rgba(255,255,255,1);
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -20px;
}
.range1::-moz-focus-outer {
    border: 0;
}
.color{
    border: 1px white solid;
    width: 50px;
    height: 35px;
}
#result1{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
#output1{
    width: 600px;
    height:300px;
    background: rgba(255, 255, 255, 0.45);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
#output1 p{
    font-family: 'Share Tech Mono', monospace;
    color: black;
    font-size: 2rem;
}
#copy{
    cursor: pointer;
    width: 40px;
    height:40px;
    position: relative;
    bottom: 20px;
    right: 20px;
}
#footer1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position:fixed;
    bottom: 0px;
}
#social1{
    background: #EF709B;
    box-shadow:0 0 5px rgba(0,0,0,0.45);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
#code,
#git{
    height: 30px;
    width: auto;
    margin: 0 12px;
}
#footer1 > img{
    box-shadow:0 0 5px rgba(0,0,0,0.45);
    bottom: 0;
    height: 30px;
    width: auto;
}
.glassMorph{
    background: rgba( 255, 255, 255, 0.00 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10.0px );
    -webkit-backdrop-filter: blur( 10.0px );
}
@media screen and (max-width: 800px){
    #sec1{
        flex-direction: column;
    }
    #text{
        top:calc(15px + 10vw);
    }
}

/* FOR MEDIA QUERY CHANGE FLEX-DIRECTION OF SEC1 & SEC2 TO COLUMN*/

#body2{
    height: 100vh;
    background: linear-gradient(180deg, #A91CFF 0%, #40C9FF 100%);
}
#header2{
    height: 12.79vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#nav2Active,
#nav2Inactive{
    font-size: calc(1rem + 00.6667vw);
    height: calc(3.25vh + 1.8vw);
    width: calc(150px + 5.2vw);
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: bold;
    line-height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000000;
    text-shadow: 0px 0px 4px #000000;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5.18vw;
}
#nav2Active{
    background: black;
    color: #40c9ff;
    text-shadow: 0 0 0.5px #000000;
    box-shadow: 0px 0px 11px 2px rgba(0, 0, 0, 0.30);
}
#nav2Inactive{
    background: #40c9ff;
    text-shadow: none;
    box-shadow: 0px 0px 11px 2px rgba(0, 0, 0, 0.30);
}
#example2{
    margin: 15px 3.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#box2{
    width: calc(300px + 10vw);
    height: calc(300px + 10vw);
    border-radius: 27px;
}

#mainBody2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}
#main2 p{
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: bold;
    font-size: calc(3.4rem + 0.7vw);
    line-height: 51px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.30);
}
#controlMenu2{
    display: flex;
    flex-direction: row;
}
.controlText2 div,
.controls2 div{
    height: 40px;
    display: flex;
    align-items: center;
    margin: 5px 10px;
}
.controlText2 div{
    justify-content: flex-end;
    font-size: 3rem;
    color: #000000;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.35);
}
.controls2 div{
    font-size: 3rem;
    color: #000000;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
}
.controls2 div span{
    margin: auto 5px;
}
.range2{
    width: 300px;
    -webkit-appearance: none;}

.range2:focus {
        outline: none;
}
.range2::-webkit-slider-runnable-track {
        width: 100%;
        height: 2px;
        cursor: pointer;
        background: #000000;
}
.range2::-moz-range-track {
        width: 100%;
        height: 2px;
        cursor: pointer;
        background: #000000;
}  
.range2::-webkit-slider-thumb {
        box-shadow: none;
        box-shadow: 0px 5px 5px rgba(0,0,0,0.45);
        height: 35px;
        width: 20px;
        border-radius: 20px;
        background: #000000;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -20px;
}
.range2::-moz-range-thumb{
        box-shadow: none;
        box-shadow: 0px 5px 5px rgba(0,0,0,0.45);
        height: 35px;
        width: 20px;
        border-radius: 20px;
        background: rgba(0,0,0,1);
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -20px;
}
.range2::-moz-focus-outer {
    border: 0;
}